convert .csv to .sqlite

In [24]:
# Ignore SQLITE warnings related to Decimal numbers in the Chinook database
import warnings
warnings.filterwarnings('ignore')

In [25]:
# Import Dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
import pandas as pd

In [28]:
engine = create_engine('sqlite:///final_project_burgers/DATA/burger_joints.sqlite', echo=False)

In [41]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "final_project_burgers/DATA/burger_joints.csv"
burger_df = pd.read_csv(csv_path, encoding="latin")

# burger_df.sort_values(by=['Venue Category']).unique
# a = burger_df['Venue Category'].unique()

,Unnamed: 0,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Venue Category,Count,Rating
0,0,Co-op City,40.874294,-73.829939,4be2b79d660ec9284d04ca3b,Townhouse Restaurant,40.876086,-73.828868,Restaurant,5,5.8
1,1,Eastchester,40.887556,-73.827806,4c406f2e6c1a9521a042b96a,McDonald's,40.885636,-73.826840,Burger Joint,10,6.0
2,2,Kingsbridge,40.881687,-73.902818,55568a71498e3524400a356e,Smashburger,40.884221,-73.900333,Burger Joint,8,8.4
3,3,Kingsbridge,40.881687,-73.902818,4b3789f3f964a520f34125e3,Riverdale Diner,40.885183,-73.899484,Diner,52,7.8
4,4,Kingsbridge,40.881687,-73.902818,4b9c9c6af964a520b27236e3,Land & Sea Restaurant,40.877885,-73.905873,Seafood Restaurant,19,7.7

In [33]:
import pandas as pd
from sqlalchemy import create_engine

# engine = create_engine('sqlite:///path', echo=False)

burger_df = pd.read_csv("final_project_burgers/DATA/burger_joints.csv", encoding="latin")
burger_df.to_sql('burgers', con=engine, if_exists='append')

In [43]:
res = burger_df.nunique()\
        .sort_values(ascending=False)\
        .rename('Count')\
        .to_frame()
res

                        Count
Unnamed: 0                226
Venue Longitude           208
Venue Latitude            208
Venue ID                  208
Venue                     180
Count                     102
Neighborhood Longitude     59
Neighborhood Latitude      59
Neighborhood               59
Rating                     43
Venue Category             35